*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: grid;
    grid-template: 100% / 100%; ;
    /* background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);   */
    background-color: grey;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template: 20% 80% / 100%;  
    background: white;  
    box-shadow: 0 20px 40px rgba(0,0,0,0.1); 
    width: 100%;
    grid-area: 1/1/2/2;
}

.logo {
    display: grid;
    place-items: center;
    background: #8b5cf6;
    color: white;
}

.sign-up{
    display: grid;
    grid-template: 15% 80% 5% / 100%;
    padding: 15px 30px;
}

form{
    display: grid;
    grid-template: repeat(6, auto) / 100%;
}

label{
    font-weight:500;
}

input, button{
    width: 100%;
    min-height: 40px;
    max-height: 50px;
    border-radius: 5px;
    padding: 5px;
}

input{
    border: 1px solid grey;
}

#actions{
    display: grid;
    grid-template: repeat(2, auto)/ 100%;
    row-gap: 10px;
}

button{
    border: none;
    font-weight: bold;
}

.btn-btn1{
    background: #8b5cf6;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

a{
    text-decoration: none;
}

.sign-in{
    text-align: center;
    font-size: small;
}

@media screen and (min-width: 768px) {
    .logo h1{
        font-size: 50px;
    }
    .sign-up{
        padding: 30px 100px;
    }
    input, button{
        min-height: 50px;
        max-height: 60px;
    }
}

@media screen and (min-width: 1024px) {
    body {
        grid-template: 10% 80% 10% / 15% 70% 15%;
    }
    .container{
        grid-template: 100% / 50% 50%;
        grid-area: 2/2/3/3;
        border-radius: 15px;
        max-width: 1024px;
    }
    .logo{
        order: 1;
        border-radius: 0 15px 15px 0;
    }
    .logo h1{
        font-size: 3.5em;
    }
    .sign-up{
        padding: 30px 30px;
    }
    input, button{
        min-height: 30px;
        max-height: 40px;
    }
}

@media screen and (min-width: 1280px) {
    body {
        grid-template: 10% 80% 10% / 20% 60% 20%;
    }
    .container{
        grid-template: 100% / 50% 50%;
        max-width: 1280px;
    }
    .sign-up{
        padding: 15px 50px;
    }
    input, button{
        min-height: 35px;
        max-height: 45px;
    }
}

@media screen and (min-width: 1440px) {
    .container{
        max-width: 1440px;
    }
    .logo h1{
        font-size: 5em;
    }
    .sign-up{
        padding: 30px 50px;
    }
    input, button{
        min-height: 50px;
        max-height: 60px;
    }    
}